In [115]:
import sys
sys.path.insert(0, '/usr/local/lib/python2.7/site-packages')
import pandas as pd
import numpy as np

In [116]:
training = pd.read_csv("Titanic_train.csv")
testing = pd.read_csv("Titanic_test.csv")
trainingids= training["PassengerId"]
testingids= testing["PassengerId"]
training.drop("PassengerId",1, inplace=True)
indexes= testing["PassengerId"]
testing.drop("PassengerId",1, inplace= True)

In [117]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [118]:
training
# X= training.drop("Survived",1)
# Y= training["Survived"]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [119]:
training
training.drop("Name",1, inplace=True)
# training.drop("Ticket", 1, inplace=True)
testing.drop("Name",1, inplace=True)
# testing.drop("Ticket", 1, inplace=True)

In [120]:
from sklearn import preprocessing
con = preprocessing.LabelEncoder()
training["Sex"]= con.fit_transform(training["Sex"])
testing["Sex"]= con.fit_transform(testing["Sex"])
label = list(training)
# for c in label:
#     print(c, pd.isnull(training[c]).sum())
mean_age= training["Age"].mean()
training["Age"].fillna(mean_age,inplace=True)
training["Embarked"].fillna(training["Embarked"].max(),inplace=True)
training["Cabin"].fillna(-1000)
training["Cabin"]= con.fit_transform(training["Cabin"])
training["Embarked"]= con.fit_transform(training["Embarked"])
training["Ticket"]=con.fit_transform(training["Ticket"])

mean_age= testing["Age"].mean()
testing["Age"].fillna(mean_age,inplace=True)
testing["Embarked"].fillna(testing["Embarked"].max(),inplace=True)
testing["Fare"].fillna(testing["Fare"].mean(),inplace=True)
testing["Cabin"].fillna(-1000, inplace=True)
testing["Cabin"]= con.fit_transform(testing["Cabin"])
testing["Embarked"]= con.fit_transform(testing["Embarked"])
testing["Ticket"]=con.fit_transform(testing["Ticket"])
label= list(testing)
for c in label:
    print(c, pd.isnull(testing[c]).sum())

('Pclass', 0)
('Sex', 0)
('Age', 0)
('SibSp', 0)
('Parch', 0)
('Ticket', 0)
('Fare', 0)
('Cabin', 0)
('Embarked', 0)

In [121]:
training.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,338.528620,32.204208,17.629630,1.536476
std,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,200.850657,49.693429,38.140335,0.791503
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,158.500000,7.910400,0.000000,1.000000
50%,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,337.000000,14.454200,0.000000,2.000000
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,519.500000,31.000000,0.000000,2.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,680.000000,512.329200,147.000000,2.000000

In [122]:
testing.info()
# training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
Pclass      418 non-null int64
Sex         418 non-null int64
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null int64
Fare        418 non-null float64
Cabin       418 non-null int64
Embarked    418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

In [123]:
from sklearn import cross_validation
X= training.drop("Survived",1)
print(type(X))
Y= training["Survived"]
X= preprocessing.scale(X)
x= preprocessing.scale(testing)
# x= preprocessing.scale(x)
# X_Train, X_Test, Y_Train, Y_Test= cross_validation.train_test_split(X,Y,test_size=0.02)
# print(X_Train.shape, X_Test.shape, Y_Train.shape, Y_Test.shape)
# from sklearn.feature_selection import RFE
# from sklearn.svm import SVR
# estimator = SVR(kernel="linear")
# selector = RFE(estimator, 5, step=1)
# selector = selector.fit(X, Y)

<class 'pandas.core.frame.DataFrame'>

In [124]:
# from sklearn.feature_selection import RFE
# from sklearn.svm import SVR
# model=SVR(kernel="linear")
# selector= RFE(model, 1)
# selector.fit(X_Train, Y_Train)
# print (label)
# selector.ranking_
# print (selector.score(X_Test, Y_Test))

In [129]:
from sklearn.neighbors import KNeighborsClassifier
# neigh = KNeighborsClassifier(n_neighbors=3)
# neigh.fit(X_Train ,Y_Train)
# neigh.score(X_Test, Y_Test)
#0.77777777777777779

In [130]:
# from sklearn import tree
# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(X_Train,Y_Train)
# clf.score(X_Test, Y_Test)
# 0.72222222222222221

In [131]:
# from sklearn.ensemble import RandomForestClassifier
# clf = RandomForestClassifier(n_estimators=53)
# clf = clf.fit(X_Train, Y_Train)
# clf.score(X_Test,Y_Test)
# 0.77777777777777779

In [132]:
from sklearn.ensemble import RandomForestClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X ,Y)
a= neigh.predict(x)
# print(indexes)
result= np.zeros((len(indexes),2), dtype='int')

result[:,1]=a
result[:,0]= np.array(indexes)
print(result)
np.savetxt('my_results.csv', result, delimiter=',', fmt="%i", header='labels')

[[ 892    0]
 [ 893    0]
 [ 894    0]
 [ 895    0]
 [ 896    0]
 [ 897    0]
 [ 898    1]
 [ 899    0]
 [ 900    1]
 [ 901    0]
 [ 902    0]
 [ 903    0]
 [ 904    1]
 [ 905    0]
 [ 906    0]
 [ 907    1]
 [ 908    0]
 [ 909    0]
 [ 910    0]
 [ 911    1]
 [ 912    0]
 [ 913    1]
 [ 914    1]
 [ 915    0]
 [ 916    1]
 [ 917    0]
 [ 918    1]
 [ 919    0]
 [ 920    1]
 [ 921    0]
 [ 922    0]
 [ 923    0]
 [ 924    1]
 [ 925    0]
 [ 926    1]
 [ 927    0]
 [ 928    0]
 [ 929    1]
 [ 930    0]
 [ 931    1]
 [ 932    0]
 [ 933    1]
 [ 934    0]
 [ 935    1]
 [ 936    1]
 [ 937    0]
 [ 938    0]
 [ 939    0]
 [ 940    1]
 [ 941    1]
 [ 942    0]
 [ 943    0]
 [ 944    1]
 [ 945    1]
 [ 946    0]
 [ 947    0]
 [ 948    0]
 [ 949    0]
 [ 950    0]
 [ 951    1]
 [ 952    0]
 [ 953    1]
 [ 954    0]
 [ 955    1]
 [ 956    1]
 [ 957    1]
 [ 958    1]
 [ 959    0]
 [ 960    1]
 [ 961    1]
 [ 962    0]
 [ 963    0]
 [ 964    0]
 [ 965    1]
 [ 966    1]
 [ 967    0]
 [ 968    0]
 [ 969    1]
 [ 970    0]
 [ 971    0]
 [ 972    0]
 [ 973    0]
 [ 974    0]
 [ 975    0]
 [ 976    1]
 [ 977    0]
 [ 978    1]
 [ 979    0]
 [ 980    1]
 [ 981    1]
 [ 982    0]
 [ 983    0]
 [ 984    1]
 [ 985    0]
 [ 986    0]
 [ 987    0]
 [ 988    1]
 [ 989    0]
 [ 990    1]
 [ 991    0]
 [ 992    1]
 [ 993    0]
 [ 994    0]
 [ 995    0]
 [ 996    1]
 [ 997    0]
 [ 998    0]
 [ 999    0]
 [1000    0]
 [1001    0]
 [1002    0]
 [1003    1]
 [1004    1]
 [1005    1]
 [1006    1]
 [1007    0]
 [1008    0]
 [1009    1]
 [1010    1]
 [1011    1]
 [1012    1]
 [1013    0]
 [1014    1]
 [1015    0]
 [1016    0]
 [1017    1]
 [1018    0]
 [1019    1]
 [1020    0]
 [1021    0]
 [1022    0]
 [1023    0]
 [1024    0]
 [1025    0]
 [1026    0]
 [1027    0]
 [1028    0]
 [1029    0]
 [1030    1]
 [1031    0]
 [1032    0]
 [1033    1]
 [1034    0]
 [1035    0]
 [1036    1]
 [1037    0]
 [1038    1]
 [1039    0]
 [1040    0]
 [1041    0]
 [1042    1]
 [1043    0]
 [1044    0]
 [1045    1]
 [1046    0]
 [1047    0]
 [1048    1]
 [1049    1]
 [1050    1]
 [1051    1]
 [1052    1]
 [1053    0]
 [1054    1]
 [1055    0]
 [1056    0]
 [1057    0]
 [1058    0]
 [1059    0]
 [1060    1]
 [1061    0]
 [1062    0]
 [1063    0]
 [1064    0]
 [1065    0]
 [1066    0]
 [1067    1]
 [1068    1]
 [1069    1]
 [1070    1]
 [1071    1]
 [1072    0]
 [1073    1]
 [1074    1]
 [1075    0]
 [1076    1]
 [1077    0]
 [1078    1]
 [1079    0]
 [1080    0]
 [1081    0]
 [1082    0]
 [1083    0]
 [1084    1]
 [1085    0]
 [1086    1]
 [1087    0]
 [1088    1]
 [1089    1]
 [1090    0]
 [1091    1]
 [1092    1]
 [1093    1]
 [1094    1]
 [1095    1]
 [1096    0]
 [1097    0]
 [1098    1]
 [1099    0]
 [1100    1]
 [1101    0]
 [1102    0]
 [1103    0]
 [1104    0]
 [1105    1]
 [1106    0]
 [1107    1]
 [1108    1]
 [1109    1]
 [1110    1]
 [1111    0]
 [1112    1]
 [1113    0]
 [1114    1]
 [1115    0]
 [1116    1]
 [1117    1]
 [1118    0]
 [1119    1]
 [1120    0]
 [1121    0]
 [1122    0]
 [1123    1]
 [1124    0]
 [1125    0]
 [1126    1]
 [1127    0]
 [1128    1]
 [1129    0]
 [1130    1]
 [1131    1]
 [1132    1]
 [1133    1]
 [1134    0]
 [1135    0]
 [1136    0]
 [1137    1]
 [1138    1]
 [1139    0]
 [1140    1]
 [1141    0]
 [1142    1]
 [1143    0]
 [1144    1]
 [1145    0]
 [1146    0]
 [1147    0]
 [1148    0]
 [1149    0]
 [1150    1]
 [1151    0]
 [1152    0]
 [1153    0]
 [1154    1]
 [1155    1]
 [1156    0]
 [1157    0]
 [1158    0]
 [1159    0]
 [1160    0]
 [1161    0]
 [1162    1]
 [1163    0]
 [1164    1]
 [1165    1]
 [1166    0]
 [1167    1]
 [1168    0]
 [1169    0]
 [1170    0]
 [1171    0]
 [1172    1]
 [1173    1]
 [1174    1]
 [1175    1]
 [1176    1]
 [1177    0]
 [1178    0]
 [1179    0]
 [1180    0]
 [1181    0]
 [1182    0]
 [1183    1]
 [1184    0]
 [1185    0]
 [1186    0]
 [1187    0]
 [1188    1]
 [1189    0]
 [1190    0]
 [1191    0]
 [1192    0]
 [1193    1]
 [1194    0]
 [1195    0]
 [1196    1]
 [1197    1]
 [1198    1]
 [1199    1]
 [1200    1]
 [1201    0]
 [1202    0]
 [1203    1]
 [1204    0]
 [1205    1]
 [1206    1]
 [1207    1]
 [1208    0]
 [1209    0]
 [1210    0]
 [1211    0]
 [1212    0]
 [1213    0]
 [1214    0]
 [1215    1]
 [1216    1]
 [1217    0]
 [1218    1]
 [1219    0]
 [1220    0]
 [1221    0]
 [1222    1]
 [1223    0]
 [1224    0]
 [1225    0]
 [1226    0]
 [1227    0]
 [1228    1]
 [1229    1]
 [1230    0]
 [1231    0]
 [1232    0]
 [1233    0]
 [1234    0]
 [1235    1]
 [1236    0]
 [1237    0]
 [1238    0]
 [1239    1]
 [1240    0]
 [1241    1]
 [1242    1]
 [1243    0]
 [1244    0]
 [1245    0]
 [1246    1]
 [1247    0]
 [1248    1]
 [1249    0]
 [1250    0]
 [1251    1]
 [1252    0]
 [1253    1]
 [1254    1]
 [1255    0]
 [1256    1]
 [1257    0]
 [1258    0]
 [1259    1]
 [1260    1]
 [1261    0]
 [1262    0]
 [1263    1]
 [1264    0]
 [1265    0]
 [1266    1]
 [1267    1]
 [1268    0]
 [1269    0]
 [1270    0]
 [1271    0]
 [1272    0]
 [1273    0]
 [1274    1]
 [1275    0]
 [1276    0]
 [1277    1]
 [1278    0]
 [1279    0]
 [1280    0]
 [1281    0]
 [1282    0]
 [1283    1]
 [1284    1]
 [1285    0]
 [1286    0]
 [1287    1]
 [1288    0]
 [1289    1]
 [1290    0]
 [1291    0]
 [1292    1]
 [1293    0]
 [1294    1]
 [1295    1]
 [1296    1]
 [1297    0]
 [1298    0]
 [1299    0]
 [1300    1]
 [1301    1]
 [1302    1]
 [1303    1]
 [1304    0]
 [1305    0]
 [1306    1]
 [1307    0]
 [1308    0]
 [1309    1]]